[submodule "luau"]
	path = luau
	url = https://github.com/Luau-lang/luau/
	branch = master
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "ImGuiFD"]
	path = ImGuiFD
	url = https://github.com/Julianiolo/ImGuiFD
[submodule "ImFileDialog"]
	path = ImFileDialog
	url = https://github.com/dfranx/ImFileDialog
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "imnodes"]
	path = imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/SFML/imgui-sfml
[submodule "stb"]
	path = stb
	url = https://www.github.com/nothings/stb
