[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://www.github.com/g-truc/glm
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://www.github.com/ocornut/imgui
[submodule "Vendor/luau"]
	path = Vendor/luau
	url = https://www.github.com/luau-lang/luau
[submodule "Vendor/ImGuiFD"]
	path = Vendor/ImGuiFD
	url = https://github.com/Julianiolo/ImGuiFD
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb
[submodule "Vendor/tracy"]
	path = Vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL
