[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git/
[submodule "Vendor/luau"]
	path = Vendor/luau
	url = https://github.com/luau-lang/luau.git/
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb.git/
[submodule "Vendor/tracy"]
	path = Vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Vendor/miniaudio"]
	path = Vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
	branch = master
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/tinyfd"]
	path = Vendor/tinyfd
	url = https://github.com/PhoenixWhitefire/tinyfd
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Vendor/ImGuiColorTextEdit"]
	path = Vendor/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule ".github/wiki"]
	path = .github/wiki
	url = https://github.com/PhoenixWhitefire/PhoenixEngine.wiki.git
[submodule "Vendor/curl"]
	path = Vendor/curl
	url = https://github.com/curl/curl.git
